<link rel="me" href="https://mastodon.social/@dvdmrsdn" />
<link rel="me" href="https://x.com/dvdmrsdn" />
<link rel="stylesheet" href="{{ "photo-showcase.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
<link rel="stylesheet" href="{{ "about.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
<link rel="stylesheet" href="{{ "archive.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
<link rel="stylesheet" href="{{ "writing.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
<link rel="stylesheet" href="{{ "collections.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
<link rel="stylesheet" href="{{ "library.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
<link rel="stylesheet" href="{{ "book-detail.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
<link rel="stylesheet" href="{{ "replies.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
<link rel="stylesheet" href="{{ "secondary-utils.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
<script defer src="{{ "photo-showcase.js" | relURL }}?{{ .Site.Params.theme_seconds }}"></script>
